# NUXT_PUBLIC_API_MOCK=truec

NUXT_PUBLIC_API_MOCK=false
# 配置代理目标后端
NUXT_BACKEND_ORIGIN=http://localhost:9999
# 启用代理后，基础路径会被自动重写为相对路径
NUXT_PUBLIC_API_BASE_URL=http://localhost:9999/api/v1/public/community
NUXT_PUBLIC_AUTH_API_BASE_URL=http://localhost:9999/api/v1

# NUXT_PUBLIC_API_MOCK=false
# # 1. 保持此项为空，表示不启用代理
# NUXT_BACKEND_ORIGIN=
# # 2. 填写绝对路径，直接请求到后端运行的 9999 端口
# NUXT_PUBLIC_API_BASE_URL=http://localhost:9999/api/v1/public/community
# NUXT_PUBLIC_AUTH_API_BASE_URL=http://localhost:9999/api/v1